#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
  }
  
  #chat-screen .alt-header,
  #chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
  }
  
  #chat-screen .status-bar {
    z-index: 2;
  }
  
  #chat-screen .alt-header {
    top: 10px;
    z-index: 1;
  }
  
  @keyframes fadeIn{
    from{
      transform: translateY(30px);
      opacity: 0;
    }
    to{
      transform: none;
      opacity: 1;
    }
  }
  .main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
  }

  .chat__timestamp {
    color: white;
    background-color: #92a4b2;
    font-size: 14px;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
  }

  .message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
  }

  .message-row img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
  }

  .message__author{
    margin-bottom: 5px;
    display: block;
  }

  .message__info{
    display: flex;
    align-items: flex-end;
  }

.message__bubble{
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    font-size: 18px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__time,
.message__author{
    opacity: 0.8;
    font-size: 14px;
}

.message-row--own{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px ;

}

.message-row--own .message__info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply .reply__column:last-child{
    width: 90%;
    position: relative;
    margin-right: 10px;
}

.reply i {
    opacity: 0.5;
}

.reply input{
    padding: 15px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 5px;
    top: 10px;
}

.reply__column:last-child > i{
    right: 40px;
    top: 25px;
}

.reply__column button{
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i{
    opacity: 1;
}
.reply__column button:focus,
.reply__column button:active{
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition:opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}


.reply:focus-within input{
  width: 100vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within{
  transform: translateY(80px);
}

#newChatModal {
  display: none; /* 처음에는 숨겨져 있어야 함 */
  position: fixed; /* 화면에 고정 */
  z-index: 100; /* 다른 요소들 위에 표시 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 내부 내용이 넘칠 경우 스크롤 허용 */
  background-color: rgba(0,0,0,0.4); /* 약간의 투명도 추가 */
}

/* 모달 창 자체의 스타일 */
.newChatModal-content {
  margin: 10% auto;
  position: relative;
  width: 360px;
  height: 90vh;
  border: 1px solid rgb(150, 150, 150);
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column; /* 자식 요소를 수직으로 쌓음 */
  border-radius: 10px;
}

/* 모달 내부의 상단바 스타일 */
.newChatModal_header {
  width: 100%;
  height: 120px;
}

.newChatModal_header h4{
  padding: 25px 20px;
  font-size: 18px;
  font-weight: 600;
}

#searchUser{
  display: block;
  outline: none;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 20px;
  background-color: rgb(246, 246, 247);
  width: 90%;
  padding: 8px 15px;
  margin: 0px auto;
}

.newChatModal_section{
  position: absolute;
  margin: 0px;
  inset: 120px 0px 80px;
  width: 100%;
  overflow: auto;
}

.newChatModal_section h6{
  font-size: 12px;
  color: rgb(180, 180, 180);
  padding: 10px 20px;
}

/* 친구 리스트 스타일 */
.newChatModal_form ul {
  list-style: none;
}

.newChatModal_form label{
  position: relative;
  display: block;
  width: 100%;
}

.newChatModal_form li {
  padding-left: 80px;
  position: relative;
  padding: 25px 100px 20px 80px;
}

.newChatModal_form li:hover{
  background-color: rgb(234, 234, 235);
}

.newChatModal_form li img {
  left: 20px;
  top: 10px;
  cursor: auto;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
}

.newChatModal_form li p{
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 19px;
  font-weight: bold;
  font-size: 14px;
}

.newChatModal_form label input{
  position: absolute;
    top: 25px;
    right: 15px;
}



/* 확인 및 취소 버튼 스타일 */
#confirmNewChat{
  background-color: rgb(250, 218, 10);; /* 녹색 배경 */
  border: none;
  color:black;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
}

.newChatModal_close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  z-index: 100;
  cursor: pointer;
}

.newChatModal_button{
  position: relative;
    transform: translateY(50%);
    border: 1px solid rgb(220, 220, 220);
    background: rgb(255, 255, 255);
    padding: 10px 25px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto; 
}

.newChatModal_bottom{
  position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(220, 220, 220);
    text-align: right;
}