#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom:10px;
    margin-top: -15px;
}

#friends-display-link i{
    color:rgba(0,0,0,0.3);
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__list {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 20px;
}

.friends-screen__list-header {
    margin-bottom: 30px;
    display: flex;
    color: var(--gray);
}

.friends-screen__list-header span{
    margin-right: 5px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 122px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 0.5s;
}

.screen-header__icons span{
    margin-right: 5px;
}

/* addFriendModal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .addFriendModal-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 400px;
 
  }
  
  .addFriendModal-content h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .addFriendForm-counter {
    width: 15%;
    text-align: center;
  }
  
  #addFriendForm{
    width: 90%;
    border-bottom: 2px solid rgb(0,0,0);
    margin: 30px auto;
    display: flex; /* 플렉스 컨테이너로 설정 */
    align-items: center; /* 아이템들을 수직 중앙에 위치시킴 */
  }

  #addFriendForm input {
    margin-top: 20px;
    outline: none;
    border: none;
    width: 85%;
  }

  .addFriendModal-content_choice {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 0px;
  }
.addFriendModal-content_div{
    padding: 0px 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: -17px;
  }
  
.add-friend_error-msg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.user-info-display {
  max-width: 90%; /* 최대 너비 조절 */
  margin: 50px auto; /* 중앙 정렬 */
  overflow: hidden; /* 내용이 너비를 초과할 경우 숨김 처리 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.user-info-display img {
  max-width: 100px; /* 이미지 최대 너비 설정 */
  max-height: 100px; /* 이미지 최대 높이 설정 */
  border-radius: 25px; /* 원형 이미지 */
  display: block;
  margin: auto;
}

.user-info-display p {
  margin-top: 12px;
  font-size: 18px; /* 텍스트 크기 설정 */
  word-wrap: break-word; /* 긴 단어나 주소가 있을 경우 자동으로 줄바꿈 */
  text-align: center;
  font-weight: bold;
}

.user-info-display_chat-button,
.add-friend-button{
  background: var(--yellow);
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  padding: 10px;
  border-style: none;
  font-size: 15px;
  cursor: pointer;
}

.addFriendModal-content{
  position: relative;
}
/* addFriendModal  끝*/
/* -------------------------------- */
/* 프로필 수정 css */

.profileEditModal {
  display: none; /* Start hidden */
  position: fixed;
  z-index: 100; /* Above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(200, 200, 200,0.5);/* Black with opacity */
}


.profileEditModal-content {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(132, 139, 145);
  margin: 25% auto;
  box-sizing: border-box;
  width: 350px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover; /* 이미지가 div 크기에 맞게 조정됩니다. */
  background-position: center; /* 이미지가 div의 중앙에 위치하도록 합니다. */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 합니다. */

}


.profileEditModal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  font-size: 25px;
  font-weight: bold;
  z-index: 100;
  color: rgb(255, 255, 255);
}

.profileEditModal-close-button:hover,
.profileEditModal-close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.profileEditModal-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profileEditModal-body {
  text-align: center;
  padding: 10px 20px;
  margin-top: 270px;
}

.profileEditModal-profile-img {

  margin-left: auto;
  margin-right: auto;
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  border-radius: 30%;
  margin-bottom: 18px;
}

.profileEditModal-edit-profile{
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 5px 3px;
  display: block;
  cursor: pointer;
}
.profileEditModal-edit-statusMessage,
.profileEditModal-chat-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 8px 3px;
  display: block;
  cursor: pointer;
}

.profileEditModal-body_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileEditModal-chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  padding: 50px;
  
}

.profileEditModal-chat-text{
  margin-top: 10px;
}

.profileEditModal-body_img_choice{
  position: absolute;
  width: 130px;
  border: 1px solid rgb(100, 100, 100);
  background: rgb(255, 255, 255);
  text-align: start;
  z-index: 100;
  right: 10px;
  bottom: 160px;
  display: none;
}

.profileEditModal-header_img_choice{
  position: absolute;
  width: 130px;
  border: 1px solid rgb(100, 100, 100);
  background: rgb(255, 255, 255);
  text-align: start;
  z-index: 100;
  left: 27px;
  top: 27px;
  display: none;
}

.profileEditModal-header_img_choice p:hover,
.profileEditModal-body_img_choice p:hover{
  background: rgb(240,240,240);
}

.profileEditModal-header_img_choice p,
.profileEditModal-body_img_choice p{
  color: rgb(0, 0, 0);
  font-size: 12px;
  min-height: 19px;
  padding: 7px 5px;
  cursor: pointer;
}

.profileEditModal-header_img_choice input,
.profileEditModal-body_img_choice input{
  display: none;
}

.profileEditModal-body_edit{
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(150, 150, 150);
  width: 100%;
  height: 150px;
  z-index: 100;
}

.profileEditModal-body_edit {
  position: absolute;
  display: none;
  bottom: 0px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(150, 150, 150);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 150px;
  z-index: 100;
}

.profileEditModal-body_edit-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  z-index: 100;
  cursor: pointer;
}

.profileEditModal-body_edit div {
  width: 90%;
  border: 1px solid rgb(52, 152, 219);
  margin: 50px auto;
}

.profileEditModal-body_edit div input{
  width: 75%;
  outline: none;
  border: none;
  padding: 5px;
}

.profileEditModal-body_edit div span{
  display: inline-block;
    width: 15%;
    text-align: center;
    padding: 5px;
}

.profileEditModal-body_edit div button{
  width: 10%;
  cursor: pointer;
  padding: 5px;
  border: none;
  outline: none;
}

.profileEditModal-body_edit div button:hover{
  background: rgb(220, 220, 220);
}

.fas{
  font-weight: 900;
}

.profileEditModal_icon{
  position: absolute;
  top: 15px;
  left: 15px;
}